* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

a {
    color: inherit; 
    text-decoration: none; 
    background-color: transparent; 
    cursor: pointer
}

body {
    background: #fff url(../img/background.jpg) center no-repeat;
    background-size: cover;
    margin: 0;
}

.container {
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header {
    color: white;
}

.logo {
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 14px;
}

.logo span {
    font-weight: 100;
}

.payment-page {
    max-width: 990px;
    margin: 0 auto;
}

.payment-card {
    position: relative;
    overflow: visible;
    background: rgba(225, 225, 225, 0.9);
    padding: 40px 25px;
}

.payment-card::before {
    content: "";
    background: url(../img/верх.png) repeat-x;
    position: absolute;
    top: -5px;  
    left: 0;
    width: 100%;
    height: 5px;
    opacity: 0.9;
}

.payment-card::after {
    content: "";
    background: url(../img/низ.png) repeat-x;
    position: absolute; 
    left: 0;  
    bottom: -5px; 
    width: 100%;   
    height: 5px;
    opacity: 0.9;
}

.title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #C76F00;
}

.info p {
    margin: 6px 0;
    font-size: 14px;
    font-weight: 300;
}

.pay-btn {
    display: block;
    margin: 20px auto 0;
    padding: 12px 25px;
    background: #16a6af;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    max-width: 337px;
}
  
.note {
    font-size: 12px;
    color: #444;
    line-height: 1.4;
}

.qr-wrapper {
    display: none;
    margin-top: 25px;
    text-align: center;
}
  
#qrcode {
    display: inline-block;
    padding: 10px;
    background: #fff;
}
  
.qr-text {
    margin-top: 10px;
    font-size: 13px;
    color: #555;
    text-align: left;
}