* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

a {
  color: inherit; 
  text-decoration: none; 
  background-color: transparent; 
  cursor: pointer
}

body {
  background: #fff url(../img/background.jpg) center no-repeat;
  background-size: cover;
  margin:auto
}

.container {
  max-width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  color: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 14px;
}

.logo span {
  font-weight: 100;
}

.login {
  background-color: #16A6af;
  border: none;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
}

.dates {
  display: flex;
  width: 100%;
  gap: 6px;
  padding-bottom: 10px;
  overflow: visible;
}

.dates button {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 6px 10px;
  min-width: 0;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  opacity: 0.9;
  flex: 1;
  text-align: center;
}

.dates button.active {
  opacity: 1;
  transform: scale(1.10);
}

.content {
  max-width: 990px;
  margin: 30px auto;
}

.movie {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-areas:
  "poster info"
  "hall hall";
  background: rgba(225, 225, 225, 0.9);
  gap: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 3px;
}

.poster {
  grid-area: poster;
  width: 100%;
  height: auto;
}

.movie-info {
  grid-area: info;
}

.movie-info h2 {
  margin: 0 0 10px;
  font-size: 16px;
}

.desc {
  font-size: 14px;
  margin: 0 0 5px;
}

.meta {
  font-size: 14px;
  font-weight: 300;
  color: #555;
}

.hall {
  margin-top: 10px;
  grid-area: hall;
 margin-bottom: 10px;
}

.hall-title {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

.times {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 6px;
}

.times button:hover {
  background: #dad8d8;
}

.time {
  display: block;
  text-align: center;
  padding: 6px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background: #fff;
  font-size: 15px;
}

time:hover {
  background: #dad8d8;
}

.time--disabled {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}
