* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

a {
  color: inherit; 
  text-decoration: none; 
  background-color: transparent; 
  cursor: pointer
}

body {
  background: #fff url(../img/background.jpg) center no-repeat;
  background-size: cover;
  margin:auto
}

.container {
  max-width: 990px;
  margin: 0 auto;
  align-items: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

.header-top img {
  width: 212px;
}

.login {
  background-color: #16A6af;
  border: none;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

.dates {
  display: flex;
  gap: 1px;              
  padding-bottom: 10px;
  align-items: center;
}

.nav-btn {
  font-size: 24px;
  font-weight: bold;
  width: 14%;
  height: 48px;
  border: none;
  border-radius: 3px;
  background: rgba(225, 225, 225, 0.9);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
}

.date-item {
  display: flex;
  flex-direction: column;      
  align-items: flex-start;     
  justify-content: center;

  width: 14%;                 
  height: 48px;

  padding: 10px 20px;

  background: rgba(225, 225, 225, 0.9);
  border: none;
  border-radius: 3px;
  font-size: 12px;            
  line-height: 14px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
}

/* Выходные */
.weekend .day-name,
.weekend .day-number {
  color: #FF0000;
}

/* Активная дата */
.date-item.active {
  width: 28%; 
  height: 52px;               
  background: #ffffff;
  padding: 11px 22px;
  font-size: 15px;
  font-weight: bold;
}


.content {
  max-width: 990px;
  margin: 30px auto;
}

.movie {
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-template-areas:
  "poster info"
  "hall hall";
  background: rgba(225, 225, 225, 0.9);
  column-gap: 15px;
  margin-bottom: 30px;
  padding: 13px;
  border-radius: 3px;
}

.poster {
  grid-area: poster;
  width: 100%;
  height: auto;
}

.poster-wrapper {
  position: relative;
}

.poster-wrapper::after {
  content: "";
  position: absolute;
  top:0;
  right:-6px;
  width: 6px;
  height: 14px;
  background: #393939;
}

.movie-info {
  grid-area: info;
}

.movie-info h2 {
  margin: 0 0 10px;
  font-size: 16px;
}

.desc {
  font-size: 14px;
  margin: 0 0 10px;
}

.meta {
  font-size: 14px;
  font-weight: 300;
  color: #555;
}

.hall {
  grid-area: hall;
}

.hall-title {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: bold;
}

.times {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(53px, 1fr));
  gap: 4px;
  margin-bottom: 18px;
}

.times:last-child {
  margin-bottom: 0px;
}

.times button:hover {
  background: #dad8d8;
}

.time {
  display: block;
  text-align: center;
  padding: 7px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background: #fff;
  font-size: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
}

time:hover {
  background: #dad8d8;
}

.time--disabled {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}

@media (max-width: 480px) {
  .date-item {
    padding: 10px;
  }

  .date-item.active {
    padding: 11px;
  }
}