* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

a {
    color: inherit; 
    text-decoration: none; 
    background-color: transparent; 
    cursor: pointer
}
  
body {
    position: relative;
    background: #fff url(../../img/background-adm.jpg) center no-repeat;
    background-size: cover;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
  
.container {
    max-width: 990px;
    margin: 0 auto;
}
  
.header-top {
  max-width: 990px;
  margin: 0 auto;
  padding: 35px 42px 35px 104px;
}

.header-top img {
  width: 212px;
}
  
  .admin-subtitle {
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: -5px;
  }
  
.admin-block {
    position: relative;
    background: rgba(230,230,230,0.95);
}

.admin-block::before {
    content: "";
    position: absolute;
    left: 55px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #BC95D6;
    z-index: 1;
}

.admin-block:first-child::before {
    top: 50px;
}

.admin-block:last-child::before {
  bottom: 80%;
}
  
.admin-title {
    width: 100%;
    background: #63536C;
    color: #fff;
    border: none;
    padding: 35px 42px 35px 104px;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
    position: relative;
}
  
.admin-title::after {
    content: "";
    background: url(../../img/dropdown.png) no-repeat center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 16px;
    background-size: contain;
    transition: transform 0.3s ease;
}

.admin-title.active::after {
  transform: translateY(-50%) rotate(180deg);
}

.admin-title::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    border: 4px solid #BC95D6;
    border-radius: 50%;
    background-color: #fff;
    left: 31px;
    bottom: 21px;
    z-index: 2;
}
 
.admin-content {
    padding: 35px 0;
    display: block;
    margin-left: 104px;
}

.admin-content.collapsed {
  display: none;
}

.hall-manager .admin-text {
  margin-bottom: 14px;
}

.hall-manager .hall-list {
  padding-left: 16px;
  margin-bottom: 22px;
}

.admin-text {
    font-size: 16px;
    margin: 0 0 12px;
    color: #000;
}
  
.hall-list {
    list-style: none;
    padding: 0;
    margin: 0 0 36px 0;
}

.hall-item {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.hall-name {
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.hall-delete, .movie-delete{
    position: relative;
    background: #fff;
    cursor: pointer;
    padding: 4px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 3px;
}

.hall-delete::before, .movie-delete::before{
    content: "";
    background: url(../../img/trash.png) no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 28px 14px;
    background-position: 6px 4px;
    left: -3px;
    bottom: 1px;
}


.hall-delete:hover::before {
    opacity: 1;
}

.add-hall-btn {
    width: 159px;
    height: 40px;
    color: #fff;
    background-color: #16A6AF;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
    font-size: 14px;
}

.hall-btn {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.45);
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

.hall-btn.active {
  background: #fff;
  transform: scale(1.1);
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.24);
}

.legend {
  display: flex;
  gap: 23px;
  margin: 11px 0;
  font-size: 14px;
  color: #848484;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 3px;
}

.hall-config {
  border: 1px solid #000;
  padding: 26px 0 36px;
  margin-right: 32px;
}
  
.screen {
    text-align: center;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 19px;
}
  
  .hall-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .conf-step__row {
    display: flex;
    gap: 10px;
  }
  
.seat {
    width: 26px;
    height: 26px;
    border-radius: 3px;
    cursor: pointer;
  }
  
.seat.standart {
    background-color: #C4C4C4;
    border: 1px solid #393939;
  }
  
.seat.vip {
    background: #B0D6D8;
    background-image: url(../../img/drops.png);
    border: 1px solid #0A828A;
  }
  
.seat.disabled {
    background: transparent;
    border: 1px solid #C4C4C4;
  }

  .hall-size {
    display: flex;
    gap: 14px;
    margin-bottom: 35px;
  }
  
  .hall-size label {
    font-size: 12px;
    color: #848484;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .hall-size input {
    width: 100px;
    padding: 9px;
    font-size: 16px;
    border: 1px solid #B7B7B7;
    color: #757575;
  }

  .ex {
    position: relative;
    padding-top: 26px;
    font-size: 18px;
    color: #848484;
  }

.admin-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 26px;
}

.admin-actions .btn {
  padding: 11px 32px;
  height: 40px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

.admin-actions .cancel {
  background: #fff;
  color: #63536C;
  width: 121px;
}

.admin-actions .save {
  background: #16A6AF;
  color: #fff;
  width: 146px;
}

.admin-actions.center {
  margin: 0 auto;
}
.admin-actions.center button {
  text-transform: uppercase;
}

.price-config {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.price-config label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #848484;
}

.price-row {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  font-size: 14px;
}

.price-row input {
  width: 100px;
  padding: 9px;
  border: 1px solid #B7B7B7;
  font-size: 16px;
  color: #757575;
}

.price-label {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-bottom: 6px;
  color: #848484;
}

.add-movie-btn {
  padding: 12px 32px;
  border: none;
  border-radius: 3px;
  background: #16A6AF;
  color: #fff;
  cursor: pointer;
  margin-top: 17px;
  width: 194px;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

.movie-card {
  display: flex;
  width: 259px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 12px;
  cursor: grab;
  position: relative;
  overflow: hidden;
}

.movie-delete {
  position: absolute;
  right: 0;
  bottom: 0;
}

.hall-schedule {
  padding: 0 102px 0 35px;
  margin-bottom: 35px;
}

.timeline {
  height: 60px;
  border: 1px solid #848484;
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}

.timeline-wrapper {
  position: relative;
  margin-bottom: 25px;
}

.timeline-times {
  position: relative;
  font-size: 12px;
  color: #848484;
  height: 20px;
  margin-top: 5px;
}

.timeline-time {
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
}

.timeline-time::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 49%;
  width: 1px;
  height: 5px;
  background: #848484;
}

.movie-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  max-width: 960px;
  background: rgba(230,230,230,0.95);
  border-radius: 3px;
  overflow: hidden;
}

.modal-header {
  background: #63536C;
  color: #fff;
  padding: 16px 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
}

.modal-close {
  background: url(../../img/close.png) no-repeat center;
  border: none;
  width: 22px;
  height: 22px;
  background-size: contain;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 0.7;
}

.modal-body {
  padding: 34px 110px;
  display: grid;
  gap: 15px;
}

.modal-body label {
  font-size: 12px;
  color: #848484;
}

.modal-body input, .modal-body textarea, .modal-body select {
  width: 750px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #B7B7B7;
}

.modal-body textarea {
  min-height: 80px;
  resize: vertical;
}

.modal-footer {
  padding: 15px 20px 35px;
  display: flex;
  gap: 14px;
  justify-content: center;
}

.movie-poster {
  width: 38px;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.movie-info {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.movie-duration {
  font-size: 14px;
  font-weight: 400;
  color: #000000B2;
}

.btn {
  padding: 12px 32px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.btn.primary {
  background: #16A6AF;
  color: #fff;
}

.btn.cancel {
  background: #FFFFFF;
  color: #63536C;
}

.session {
  position: absolute;
  top: 10px;
  height: 40px;
  min-width: 70px;
  font-size: 10px;
  text-align: center;
  cursor: grab;
  white-space: normal;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #0000004D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sales-section .admin-text, .sales-section .hall-list {
  padding-bottom: 29px;
  margin: 0;
}

.sales-status {
  text-align: center;
  margin: 0 0 29px;
  font-size: 16px;
  font-weight: 400;
}

.halls-panel-wrapper {
  position: relative;
  margin: 53px 0 13px;
}

.seance-trash {
  position: absolute;
  left: -25px;
  top: 23px;
  width: 50px;
  height: 50px;
  background: url(../../img/bin.png) center/contain no-repeat;
  border-radius: 8px;
  z-index: 1000;

  opacity: 0;
  pointer-events: none;
}

.seance-trash.active {
  opacity: 1;
  pointer-events: auto;
}

/* ================== LOGIN ================== */

.login-block {
  height: 294px;
  max-width: 480px;
  margin: 0 auto;
}

.login-block .admin-content {
  width: 272px;
  margin: 35px auto;
  padding: 0;
}

.login-block.admin-block::before {
  display: none;
}

.login-block .admin-title {
  padding: 16px 104px;
  text-align: center;
}

.login-block .admin-title::after, .login-block .admin-title::before {
  display: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.login-label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 12px;
}

.login-label span {
  color: #848484;
}

.login-label input {
  padding: 8px 9px;
  border: 1px solid #B7B7B7;
  font-size: 16px;
}

.login-label input:focus {
  outline: none;
  border-color: #999;
}

.login-btn {
  margin-top: 10px;
  align-self: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}

/* ================== SMALL MOBILE ================== */
@media (max-width: 532px) {

  /* Контейнер */
  .container,
  .header-top {
    padding: 15px;
  }

  /* Заголовок блока */
  .admin-title {
    padding: 18px 15px 18px 55px;
    font-size: 16px;
  }

  /* Кружок */
  .admin-title::before {
    width: 18px;
    height: 18px;
    border-width: 2px;
    left: 15px;
    bottom: 22px;
  }

  /* Убираем вертикальную линию полностью */
  .admin-block::before {
    display: none;
  }

  /* Контент */
  .admin-content {
    margin-left: 0;
    padding: 15px;
  }

  /* Кнопки залов */
  .hall-btn {
    font-size: 12px;
    padding: 6px 8px;
  }

  /* Настройка размеров зала */
  .hall-size {
    flex-direction: column;
    gap: 10px;
  }

  .hall-size input {
    width: 100%;
  }

  /* Модалки */
  .modal {
    width: 95%;
  }

  .modal-body {
    padding: 15px;
  }

  .modal-body input,
  .modal-body textarea,
  .modal-body select {
    width: 100%;
  }

  /* Карточки фильмов */
  .movie-card {
    width: 100%;
  }

  /* Таймлайн */
  .hall-schedule {
    padding: 0 10px;
  }

  .timeline {
    height: 50px;
  }

  .session {
    font-size: 8px;
    padding: 3px;
  }

}